.board {
  margin-top: 40px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: 450px;
  height: 450px;
  transition: all 0.3s ease;
}

.boardItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.image {
  max-width: 90%;
  max-height: 90%;
}

.resetBtn {
  margin-top: 10px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 1rem 1rem;
  text-decoration: none;
  background: #187e46;
  color: #ffffff;
  font-family: "Patrick Hand", sans-serif;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.header {
  margin: 0;
  padding-top: 10px;
  color: white;
  font-family: "Patrick Hand", sans-serif;
  font-size: 70px;
}

.waiting {
  padding-top: 45vh;
  text-align: center;
}

@media (min-width: 900px) {
  .board {
    width: 500px;
    height: 500px;
  }
}
